# Database related
*.tbinfo
*.table
*.idx
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.o
*.gch
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
# npm install后生成的包文件
/web/node_modules

# Compiler configuration file
/.vscode/*
/server/.vscode/*
/web/.vscode/*
/database/.vscode/*
/server/.idea
/.idea
/server/node_modules
/database/.vscode
/database/test.cpp
/database/database
/database/testsql